/*----------FONTES----------*/

  @font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Thin.ttf") format("truetype");
    font-weight: 100; }

  @font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Thin-Regular.ttf") format("truetype");
    font-weight: 400; }

  @font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-SemiBold.ttf") format("truetype");
    font-weight: 600; }

/*----------BASICO----------*/
  /*----------CORES----------

  AZUL PRINCIPAL
  #4183d7

  AZUL ESCURO
  #286abd

  CINZA ESCURO
  #484848

  CINZA CLARO
  #EEE

  */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

  html, body {
    background-color: #EEE;
    color: #484848;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 100;
    line-height: 135%;
    text-rendering: optimizeLegibility; }

  ul,li {
    list-style-type: none;
  }

/*----------COMPONENTES----------*/ 
  .row {
    width: 96%;
    margin: 0 auto; }
  
  .center {
    margin: 0 auto;
    text-align: center;
  }

  hr {
    display: block;
    height: 0px;
    border: 1px solid #4183d7;
    opacity: 0.7;
    margin: 0 auto;
    width: 70%;
    margin-top: 0.5em;
    margin-bottom: 2em;
  }

/*----------TITULOS----------*/
  h1, h2, h3, h4 {
    margin: 1.4em 0 0.8em 0;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
    text-transform: uppercase; }

  h1 {
    font-size: 240%;
    color: #4183d7; }

  h2 {
    font-size: 180%;
    color: #4183d7;
  }

  h3 {
    font-size: 140%;
    color: #286abd;
  }

  h4 {
    font-size: 120%;
    color: #286abd;
  }

/*----------BOTOES----------*/
  .btn:link,
  .btn:visited {
    display: inline-block;
    padding: 0.4em 1.2em;
    text-decoration: none;
    border-radius: 0.6em;
    border: 1px solid #4183d7;
    color: #fff;
    letter-spacing: 0.1em;
    transition: all 0.2s; }

  .btn-vazio:link,
  .btn-vazio:visited {
    color: #4183d7; }

  .btn-cheio:link,
  .btn-cheio:visited {
    background-color: #4183d7; }

  .btn:hover,
  .btn:active {
    background-color: #286abd; }

  .btn-vazio:hover,
  .btn-vazio:active {
    color: #fff;
    border: 1px solid #286abd; }

  .btn-cheio:hover,
  .btn-cheio:active {
    background-color: #286abd;
    border: 1px solid #286abd; }

/*----------CHAMADA----------*/
  header {
    height: 100vh;
    background-color: #EEE;
    background-image: linear-gradient(rgba(55, 109, 165, 1), rgba(55, 109, 165, 0.3)), url(img/chamada-equipe-sml-2.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #eee; }

  .chamada-texto {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 100; }

  .chamada-texto h1 {
    color: #EEE;
  }

/*----------MENU----------*/
  .menu-header {
    position: relative; }

/*----------MENU ICON----------*/
  .menu-header i {
    color: #CCC;
    font-size: 250%;
    float: right;
    padding: 0.3em;
    transition: all 0.2s; }

  .menu-header i:hover {
    color: #EEE; }

  .logo {
    height: 4.5em;
    width: auto;
    float: left;
    position: absolute; }

/*----------MENU LISTA----------*/
  .menu {
    display: none;
    width: 35%;
    float: right;
    background-color: transparent;
    z-index: 1; }

  .menu li {
    padding: 0.5em 1.5em;
    list-style: none;
    text-align: right;
    border-bottom-left-radius: 0.6em;
    border-top-left-radius: 0.6em;
    transition: all 0.3s; }

  .menu li:hover {
    background-color: #286abd; }

  .menu li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 100;
    color: #eee; }

/*----------COMO FAZER----------*/  

  .como-fazer h2,
  .como-fazer h3 {
    text-align: center;
  }

  .como-fazer-itens li {
    list-style: none;
    margin: 0.3em 0;
  }

  .como-fazer .dest {
    font-weight: 600;
  }
  .como-fazer i {
    padding-right: 0.5em;
  }

  .como-fazer p {
    margin: 0.8em 0;
    font-size: 80%;
  }

  .como-fazer a {
    margin: 0 auto;
    border: 1px solid gray;
  }

  .como-fazer .obs {
    font-size: 70%;
    line-height: 120%;
    margin-top: 1.4em;
  }

  h3 i {
    font-size: 1.6em;
  }

/*----------PLANOS----------*/ 

  .planos {
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: #E8E8E8;
    background: linear-gradient(rgba(65, 131, 215, 0.15), rgba(65, 131, 215, 0.05));
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 1em;
    text-align: center;
  }

  .planos p {
    padding: 0;
    margin: 0;
  }

  .planos .center {
    padding: 1.2em 0;
  }

  .planos p .dest {
    display: block;
    padding-top: 1em;
  }

/*----------DEPOIMENTOS----------*/ 

blockquote {
  font-size: 150%;
  line-height: 120%;
  text-align: center;
}

/* .row,
.col {
  border: 1px dashed gray;
} */