/* --------------------
      COMUM
-------------------- */
  
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  body {
    font-family: Roboto, Sans-serif;
    font-size: 14px;
    background-color: rgb(236,240,241);
    color: rgb(64,64,64);
  }

  h1, h2, h3, h4, h5 {
    margin: 0; 
  }

  header, nav, main, footer, section, article, div {
    box-sizing: border-box;
    /*border: 1px dashed #666; */
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a, a:hover, a:focus, a:visited, a:active {
    text-decoration: none;
  } 
  
/* --------------------
      FLEX
-------------------- */

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .flexcont {
    flex: 0 1 auto;
  }

/* --------------------
      MENU
-------------------- */

  .menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(60, 119, 119);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  .nav {
    font-size: 1.2em;
    text-align: center;
    padding: 0 0.5em;
    text-transform: uppercase;
  }
  .nav li {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
  /*  border: 1px dashed #fff; */
  }

  .nav a {
    text-decoration: none;
    color: #D9D9D9;
    padding: 0.8em;
  }

  .nav a:hover {
    color: #FFF;
  }

  .cont {
    margin: 1em auto;
    text-align: center;
    font-size: 2.5em;
    color: #404040;
    text-shadow: 2px 2px #EEE;
  }

/* --------------------
      BLOCOS
-------------------- */

  .bloco {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
    width: 100%;
    min-height: 200px;
  }

  /* --------------------
        BLOCOS BRANCOS
        Chamada
        Como Funcions
        Depoimentos
        Sobre Nós
  -------------------- */

  .claro {
    background-color: #FFF;
  }

  /* --------------------
        BLOCOS VERDES
        Aprender
        Planos
        Imprensa
  -------------------- */

  .escuro {
    background-color: rgb(187, 221, 221);
    color: rgb(60, 119, 119);
  }

  /* --------------------
        BLOCOS NEUTRO
        Simulador
  -------------------- */

  .neutro {
    background: rgba(217,217,217,0.5);
    color: rgb(187, 221, 221);
  }

/* --------------------
      PRINCIPAL
-------------------- */

  .principal {
    background-color: #000;
    background-image: linear-gradient(rgba(0,0,0,0.5) 10%,rgba(0,0,0,.1) 60%), url(../img/chamada-equipe-sml.jpg);
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-position: center bottom;
    background-attachment: fixed;
    /*padding: 5em 0 0 0;*/
    height: 110vh;
    width: 100%;
  }

  .principal .center {
    margin: 20vh auto;
  }

/* --------------------
      NEWSLETTER
      SOBRE
      DEPOIMENTOS
-------------------- */

  .newsletter {
    background-color: rgb(187, 221, 221);
    color: rgb(60, 119, 119);
  }

  .depoimentos, .sobre {
    color: rgb(64, 64, 64);
  }

  .depoimentos .box, .sobre .box {
    flex: 0 1 auto;
    align-items: flex-end;
    width: 30%;
  }

  .depoimentos h1, .sobre h1, .simulador h1, .principal h1, .como h1 {
    margin: 1em auto;
    font-size: 2.5em;
    color: rgba(60, 119, 119, 1);
    text-shadow: 2px 2px 5px rgba(60, 119, 119, 0.15);
  }

  .sobre p {
    font-size: 1.2em;
    line-height: 1.6em;
  }

  .depoimentos p {
    font-size: 1.5em;
    font-weight: 400;
  }

  .depoimentos blockquote {
    font-size: 1.2em;
    line-height: 1.6em;
  }    

/* --------------------
      IMPRENSA
      PLANOS
-------------------- */

  .imprensa, .planos {
    background-color: rgb(187, 221, 221);
    color: rgb(60, 119, 119);
  }

  .imprensa h1, .planos h1, .newsletter h1{
    color: rgba(60, 119, 119, 1);
    margin: 0 0 1em 0;
    text-align: center;
    /*margin: 3em 0;*/
    font-size: 2.5em;
    text-shadow: 2px 2px 5px rgba(60, 119, 119, 0.15);
  }

  .imprensa a {

    min-height: 48px;
  }
  .imprensa img {
    width: 15%;
    min-width: 100px;
    margin: 0 2% 5% 2%;
    border: 1px solid rgba(60, 119, 119, 0.3);
    border-radius: 0.5em;
    box-shadow: 2px 2px 10px rgba(60, 119, 119, 0.3);
  }

  .planos  .box {
    flex: 0 1 auto;
    align-items: flex-end;
    width: 30%;
  }

/* --------------------
      RODAPE
-------------------- */

  .rodape {
    letter-spacing: 0.05em;
    line-height: 1.25em;
    font-weight: 300;
    background-color: rgb(64, 64, 64);
    color: rgba(217, 217, 217, 0.8);
  }

  .rodape h3 {
    color: rgba(217, 217, 217, 1);
    margin: 0 0 1em 0;
    text-align: center;
  }

  .rodape ul {
    margin: 0 10%;
  }

  .rodape li {
    margin-bottom: 0.5em;
  }

  .rodape a,.rodape a:active,.rodape a:focus,.rodape a:visited {
    color: rgba(217, 217, 217, 0.8);
  }

  .rodape a:hover {
    color: rgba(217, 217, 217, 0.3);
  }

  .rodape .box {
    min-width: 10em;
    width: 25%;
    margin: 2em 0 3em 0;
  }

  .rodape .disclaimer {
    font-size: 0.85em;
    line-height: 1.2em;
    width: 80%;
    margin: 0 auto;
  }

  .fa {
    padding: 0 0.5em;
  }

.center {
  text-align: center;
  margin: 0 auto;
}
